---
title: "Sarah Withee"
layout: splash
permalink: /
date: 2020-08-16T16:00:00-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash_bg_codemash_2019.jpg
  caption: "Speaking at Code Mash 2019 (Photo credit: [Tori Brenneison](https://twitter.com/not_unambitious))"
excerpt: "Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns."
intro:
  - excerpt: 'Polyglot software engineer. International tech speaker. Hardware and robot tinkerer. Conference organizer. User of  100% organic sarcasm & puns.'
---

<div class="home_feature_table">
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-book-100.png" width="100" height="100" alt="Book icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-mastodon-100.png" width="100" height="100" alt="Robot icon" class="home_feature_cell_image_center"/>
    </div>
    <div class="home_feature_table_cell_image">
      <img src="assets/images/blacklivesmatter-fist-200.png" width="100" height="100" alt="#BlackLivesMatter fist icon" class="home_feature_cell_image_center"/>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <h2>Code Thesaurus</h2>
      <p>My open source project Code Thesaurus has 100 contributors! Check out the
        site and use it, or help contribute to make its wealth of programming knowledge even greater!</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>Mastodon</h2>
      <p>I'm on Mastodon too. Feel free to follow me (@geekygirlsarah@mastodon.social) there if you're migrating away
        from Twitter.</p>
    </div>
    <div class="home_feature_table_cell_third">
      <h2>#BlackLivesMatter (still!)</h2>
      <p>I wrote about being raised in Kansas City and when I realized the racist structure to the city, as well as
        steps you can take to help the movement.</p>
    </div>
  </div>
  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_third">
      <p><a href="https://codethesaur.us" target="_blank" rel="noopener" class="btn btn--primary">Check It Out</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="https://mastodon.social/@geekygirlsarah" target="_blank" rel="me noopener" class="btn btn--primary">Wander to Mastodon</a></p>
    </div>
    <div class="home_feature_table_cell_third">
      <p><a href="/2020/08/04/story-about-growing-up-in-kansas-city/" class="btn btn--primary">Read the Important Blog Post</a></p>
    </div>
  </div>
</div>

<!-- a bit of extra space between the two tables-->
<div><p>&nbsp;</p></div>

<div class="home_feature_table">

  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-micro-100.png" alt="Lecturer icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Latest Podcasts</h2>
      {% include feature_block data_type="podcasts" show_number=3 %}
      <a href="/media/" class="btn btn--primary">All Media Page</a>
    </div>
  </div>

  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-edit-file-100.png" alt="Blog icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Latest Blog Posts</h2>
      {% include feature_block data_type="posts" show_number=3 %}
      <a href="/speaking/" class="btn btn--primary">All Blog Posts Page</a>
    </div>
  </div>

  <div class="home_feature_table_row">
    <div class="home_feature_table_cell_image">
      <img src="assets/images/icons8-lecturer-100.png" alt="Speaker at podium icon"/>
    </div>
    <div class="home_feature_table_cell">
      <h2>Upcoming Talks</h2>
      {% include feature_block data_type="talks" show_number=3 %}
      <a href="/speaking/" class="btn btn--primary">Talks and Speaking Page</a>
    </div>
  </div>

</div>
