<div class="page__footer-follow">
  <ul class="social-follow-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
    <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
    {% for link in site.footer.links %}
    {% if link.label and link.url %}
    <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright">Built by Sarah Withee. Created with <a href="http://jekyllrb.com/" target="_blank" rel="noopener">Jekyll</a> and a modified <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" target="_blank" rel="noopener">Minimal Mistakes</a> theme. Source on <a href="https://gitlab.com/{{ site.repository }}" target="_blank" rel="noopener">Gitlab</a>.<br />
Site last built on {{ "now" | date_to_xmlschema | date_to_string: "ordinal", "US" }}.<br /><br />
All views and opinions expressed on this site are solely Sarah's and not of any past or present employer or of any other company or organization. There are no paid sponsorships on this site.</div>
